* {
	margin     : 0;
	padding    : 0;
	box-sizing : border-box;
}


#hotel-reservation1 {
	background-image    : url("./asserts/images/1.jpg");
	background-repeat   : no-repeat;
	background-size     : cover;
	background-position : center;
	width               : 100vw;
	height              : 100vh;
}

#hotel-reservation1 > .card {
	position  : relative;
	top       : 50vh;
	left      : 50vw;
	width     : 50%;
	height    : 65%;
	transform : translate(-50%, -50%);
}

#hotel-reservation1 > .card > .content {
	position                  : absolute;
	width                     : 50%;
	height                    : 100%;
	left                      : 0;
	top                       : 0;
	background-color          : #404040;
	color                     : white;
	border                    : none;
	border-top-left-radius    : 6px;
	border-bottom-left-radius : 6px;
}

#hotel-reservation1 > .card > .content > h1 {
	margin      : 33px;
	text-align  : center;
	font-size   : 50px;
	font-weight : 700;
}

#hotel-reservation1 > .card > .content > .booking-detail > .schedule {
	margin-top    : 35px;
	margin-bottom : 35px;
	margin-left   : 150px;
}

#hotel-reservation1 > .card > .content > .booking-detail > .schedule > h2 {
	font-size   : 30px;
	font-weight : 700;
}


#hotel-reservation1 > .card > .content > .booking-detail > .schedule > div:nth-of-type(1) {
	width            : 206px;
	height           : 1.5px;
	background-color : grey;
	margin-bottom    : 15px;
}

#hotel-reservation1 > .card > .content > .booking-detail > .schedule > div:nth-of-type(2) {
	font-size   : 20px;
	font-family : serif;
	font-style  : oblique;
	color       : #EA687F;
}


#hotel-reservation1 > .card > .image {
	position                   : absolute;
	background-image           : url(./asserts/images/image2.jpg);
	width                      : 50%;
	top                        : 0;
	left                       : 50%;
	background-repeat          : no-repeat;
	background-size            : cover;
	height                     : 100%;
	border-top-right-radius    : 6px;
	border-bottom-right-radius : 6px;
}

#hotel-reservation1 > .card > .content > button {
	margin-left      : 21%;
	color            : white;
	background-color : #A94455;
	border           : none;
	cursor           : pointer;
	height           : 11%;
	width            : 62%;
	border-radius    : 13px;
	font-size        : 20px;
	font-weight      : 800;
	font-family      : sans-serif;
	outline          : none;
}

#hotel-reservation1 > .card > .content > button:hover {
	background-color : #C3384F;
}


/*

#hotel-reservation1 > .card {
	position         : absolute;
	background-color : black;
}*/
